body {
  font-family: Futura;
  max-width: 400px;
  margin: 0 auto
}

h1 {
  text-align: center
}

.grid {
  height: 100px;
  width: 100px;
  background: gold;
  border: 10px solid white;
  display: inline-block;
  font-size: 2em;
  color: black;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

#resetdiv {
  margin: auto;
}

#reset {
  border: 2px solid black;
  margin: auto;
}
